<div class="row">
	<div class="col-sm-6 text-center">
		<p>Beer stash</p>
		<p>Andreas Fridlund</p>
		<p>2015</p>
	</div>
	<div class="col-sm-6 text-center">
		<p>Webbteknik II</p>
		<p>1dv449 - Linnéuniversitetet</p>
	</div>
</div>