<h2>Search results</h2>
<p>Results for: <%= (searchString) ? searchString : 'nope' %></p>
<%
if(beers){
	if(beers.length > 0){
		for(var i = 0; i < beers.length; i++){
%>
	<div>
		<p><%= beers[i].name %></p>
	</div>
<%
		}
	}
}
else{
	%>
	<p>No beers found<p>
	<%
}
%>
<% if(searchString) { %>
	<p><a href="/brewerydbsearch/<%= searchString %>">Extended search with Brewery DB</a></p>
<% } %>