<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Connect Local account</h2>
		<form action="/connect/local" method="post">
		    <div class="form-group">
		        <label for="email">Email</label>
		        <input type="text" class="form-control" name="email" id="email">
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password" class="form-control" name="password" id="password">
		    </div>
		    <div class="form-group">
		        <label for="password_confirm">Confirm Password</label>
		        <input type="password" class="form-control" name="password_confirm" id="password_confirm">
		    </div>

		    <button type="submit" class="btn btn-warning btn-lg">Connect</button>
		</form>
	</div>
</div>