<div class="row">
	<div class="col-md-5 col-md-offset-0">
		<% if(user){ %>
			<h3>Beer search</h3>
			<form method="post" action="/beersearch">
				<div class="col-md-8">
					<input id="beerSearch" class="form-control" type="text" name="beerSearch" placeholder="Beer search" autofocus />
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary btn-block" type="submit">Search</button>
				</div>
			</form>
		<% } else { %>
		<h3>Information</h3>
		<% } %>
	</div>
	<div class="col-md-3 col-md-offset-2">
		<% if(user){ %>
		<p>
            <strong>First name</strong>: <%= user.firstName %><br />
            <strong>Last name</strong>: <%= user.lastName %><br />
        </p>
		<% } else { %>
			<% include partials/login_form %>
		<% } %>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6">
		<h4>Organize your stash</h4>
	</div>
	<div class="col-md-4 col-sm-6">
		<h4>Share your stash with friends</h4>
	</div>
	<div class="col-md-4">
		<h4>Find rares</h4>
	</div>
</div>