<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>
        <div class="container">
            <div id="main-content">
                <%- body %>
            </div>
            <hr />
            <div>
                <% include partials/footer %>
            </div>
        </div>
    </body>
    <% include partials/scripts %>
</html>