<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div id="offline-cover">
            <div id="offline-container">
                <h2>You are offline</h2>
                <p>This application doesn't support offline use</p>
                <p>Wait untill you get reconnected or visit later</p>
                <p><img src="/images/loading.gif" alt="loading" /></p>
            </div>
        </div>
        <% include partials/header %>
        <div class="container">
            <div id="main-content">
                <%
                if((typeof(message) != 'undefined' && message != null) && message.length > 0) {
                    for(var i = 0; i < message.length; i++){
                %>
                    <div class="alert alert-info"><%= message[i] %></div>
                <%
                    }
                }
                %>
                <%- body %>
            </div>
            <hr />
            <div>
                <% include partials/footer %>
            </div>
        </div>
    </body>
    <% include partials/scripts %>
</html>