<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>
        <div class="container">
            <div id="main-content">
                <%
                if((typeof(message) != 'undefined' && message != null) && message.length > 0) {
                    for(var i = 0; i < message.length; i++){
                %>
                    <div class="alert alert-info"><%= message[i] %></div>
                <%
                    }
                }
                %>
                <%- body %>
            </div>
            <hr />
            <div>
                <% include partials/footer %>
            </div>
        </div>
    </body>
    <% include partials/scripts %>
</html>