<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>

        <div>
            <% include partials/header %>
        </div>
        <div>
            <%- body %>
        </div>
        <div>
            <% include partials/footer %>
        </div>

    </body>
    <% include partials/scripts %>
</html>