<div class="row">
	<div class="col-md-6">
		<h2>Search results</h2>
		<% include partials/beer_search %>
		<div>
			<%
			if(beers && beers.length > 0){
				for(var i = 0; i < beers.length; i++){
			%>
			<div>
				<p><%= beers[i].name %></p>
			</div>
			<%
				}
			}
			else{
				%>
			<p>No beers found<p>
				<%
			}
			%>
		</div>
	</div>
</div>